<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="text-center">Fill out your papers!</h1>
		<p class="text-center">Fill outyour papers with all the information you desire, no more, no less.</p>
		<div class="well">
			<%= render 'form' %>
		</div>
	</div>
</div>